<ion-header>
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center" style="margin-left: 55px">Pemberitahuan</ion-title>
    <ion-title class="ion-text-center" style="margin-left: 55px">{{tmpfilter}}</ion-title>

    <!-- <ion-icon class="filter-style" slot="end" name="filter"></ion-icon> -->

    <!-- <ion-select interface="popover" placeholder="Filter"  [(ngModel)]="selectedfilter">
        <ion-select-option>Hari ini</ion-select-option>
        <ion-select-option>Tanggal</ion-select-option>
        <ion-select-option>Tampilkan Semua</ion-select-option>
      </ion-select> -->

      <!-- <ion-button slot="end" (click)="presentPopover()" fill="clear" color="light">
        <ion-icon name="filter" slot="icon-only"></ion-icon>
      </ion-button> -->

        <ion-button slot="end" id="popover-button" fill="clear" color="light">
            <ion-icon name="filter" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-popover trigger="popover-button" [dismissOnSelect]="true">
          <ng-template>
            <ion-content>
              <ion-list>
                <ion-item [button]="true" [detail]="false" (click)="setFilter('Hari ini')">Hari ini</ion-item>
                <ion-item [button]="true" [detail]="false" (click)="setFilter('Bulan ini')">Bulan ini</ion-item>
                <ion-item [button]="true" [detail]="false" (click)="setFilter('Tahun ini')">Tahun ini</ion-item>
                <ion-item [button]="true" id="nested-trigger">Pilih Tanggal</ion-item>
                <ion-popover trigger="nested-trigger" side="end">
                  <ng-template>
                    <ion-datetime [(ngModel)]="tmpselectedDate" [showDefaultButtons]="true" locale="id-ID" id="datetime"
                      presentation="date">
                    </ion-datetime>
                  </ng-template>
                </ion-popover>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>

        
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <!-- <ion-item *ngFor="let item of tmpnotif">
    {{item.judul}} - {{item.waktu}}
  </ion-item> -->
  <!-- <ion-list>
    <div *ngFor="let item of tmpnotif">
      <button ion-item no-lines>
        <ion-avatar item-start>
          <img src="../assets/images/avatar.png">
        </ion-avatar>
        <h2>{{item.judul}}</h2>
        <p>{{item.waktu}}</p>
        <div style="color:red" item-content>ABCDEF</div>
      </button>
    </div>
  
  </ion-list> -->

  <ion-list>
  
    <ion-item *ngFor="let item of notiffinal">
      <ion-icon *ngIf="item.read == 1" class="ion-icon-style" name="ellipse"></ion-icon>
  
      <ion-label text-wrap class="text">
        {{item.judul}}
      </ion-label>
      <ion-label slot="end">
        <h6>{{item.hari}}, {{item.tanggal}}</h6>
        <h6 style="text-align: right">Pukul {{item.waktu}}</h6>
      </ion-label>
  
    </ion-item>
  </ion-list>

</ion-content>