<ion-header>
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Stock Lain</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Pilih Kategori</ion-label>
    <ion-select interface="popover" placeholder="" [(ngModel)]="selectedKategori">
      <ion-select-option *ngFor="let item of tmpKategori" [value]="item.namakategori">
        {{item.namakategori}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" title="Update Stock" id="open-modal-updatestock_stocklain">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" title="Tambah Item" id="open-modal-tambahitem">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" title="Tambah Kategori" id="open-modal-tambahkategori">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <!--<ion-fab-button color="light" title="Hapus Tipe" id="open-modal-hapustipe" (click)="CleanSelection()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" title="Hapus Brand" id="open-modal-hapusbrand" (click)="CleanSelection()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" title="Tambah Tipe" id="open-modal-tambahtipe" (click)="CleanSelection()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" title="Tambah Brand" id="open-modal-tambahbrand" (click)="CleanSelection()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button> -->
    </ion-fab-list>
  </ion-fab>

  <ion-modal #modalbrand trigger="open-modal-tambahkategori" class="modal_tambahkategori">
    <ng-template>
      <ion-content>
        <form [formGroup]="ionicForm2" (ngSubmit)="SaveKategori()" novalidate>
          <ion-toolbar>
            <ion-title class="ion-text-center">Tambah Kategori</ion-title>
          </ion-toolbar>
          <ion-item>
            <ion-label>Nama Kategori</ion-label>
            <ion-input formControlName="nama" class="ion-text-right" placeholder="Input Nama Kategori"></ion-input>
          </ion-item>
          <ion-note class="error ion-padding" *ngIf="isSubmitted2 && errorControl2.nama.errors?.required">
            Nama kategori dibutuhkan!
          </ion-note>
          <ion-note class="error ion-padding" *ngIf="isSubmitted2 && errorControl2.nama.errors?.minlength">
            Minimal 2 huruf!
          </ion-note>
        </form>
      
      </ion-content>

      <ion-footer class="ion-no-border">
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <ion-button expand="full" color="danger" (click)="Dismissmodal()">
                BATAL
              </ion-button>
            </ion-col>
            <ion-col col-6>
              <ion-button type="submit" expand="full" color="secondary" (click)="SaveKategori()">
                SIMPAN
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-footer>
    </ng-template>
  </ion-modal>

  <ion-modal #modaltipe trigger="open-modal-tambahitem" class="modal_tambahitem">
    <ng-template>
        <ion-content>
            <form [formGroup]="ionicForm" (ngSubmit)="SaveItem()" novalidate>
  
          <ion-toolbar>
            <ion-title class="ion-text-center">Tambah Item</ion-title>
          </ion-toolbar>
          <ion-item>
            <ion-label>Pilih Kategori</ion-label>
            <ion-select formControlName="kategori" interface="popover" placeholder="">
              <ion-select-option *ngFor="let item of tmpKategori" [value]="item.namakategori">{{item.namakategori}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-note  class="error ion-padding" *ngIf="isSubmitted && errorControl.kategori.errors?.required">
            Kategori dibutuhkan!
          </ion-note >
          <ion-item>
            <ion-label>Item</ion-label>
            <ion-input formControlName="nama" class="ion-text-right" placeholder="Input Item"></ion-input>
          </ion-item>
          <ion-note  class="error ion-padding" *ngIf="isSubmitted && errorControl.nama.errors?.required">
            Nama item dibutuhkan!
          </ion-note >
          <ion-note  class="error ion-padding" *ngIf="isSubmitted && errorControl.nama.errors?.minlength">
            Minimal 2 huruf!
          </ion-note >
          <ion-item>
            <ion-label>Harga</ion-label>
            <ion-input formControlName="harga" class="ion-text-right" placeholder="0" type="number"></ion-input>
            <ion-note slot="helper">Jika harga belum ada, dapat diisi 0. Harga dapat diedit di menu Daftar Harga</ion-note>
          </ion-item>
          <ion-note class="error ion-padding" *ngIf="isSubmitted && errorControl.harga.errors?.required">
            Harga dibutuhkan!
          </ion-note>
<!-- 
          <ion-grid>
              <ion-row>
                <ion-col col-6>
                  <ion-button expand="full" color="danger" (click)="Dismissmodal()">
                    BATAL
                  </ion-button>
                </ion-col>
                <ion-col col-6>
                  <ion-button type="submit" expand="full" color="secondary">
                    SIMPAN
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid> -->
        </form>
  
        </ion-content>
  
        <ion-footer class="ion-no-border">
          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <ion-button expand="full" color="danger" (click)="Dismissmodal()">
                  BATAL
                </ion-button>
              </ion-col>
              <ion-col col-6>
                <ion-button type="submit" expand="full" (click)="SaveItem()" color="secondary">
                  SIMPAN
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-footer>
  
    </ng-template>
  
  </ion-modal>

</ion-content>
