<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Stock Lain</ion-title>
    <ion-progress-bar type="indeterminate" *ngIf="showLoader" color="tertiary"></ion-progress-bar>
    <ion-button slot="end" fill="clear" color="light" (click)="getType()">
      <ion-icon name="refresh-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Pilih Kategori</ion-label>
    <ion-select interface="popover" placeholder="" [(ngModel)]="selectedKategori" (ionChange)="getType()">
      <ion-select-option *ngFor="let item of tmpKategori" [value]="item.namakategori" >
        {{item.namakategori}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-grid *ngIf="tmpitem?.length > 0" class="header-row">
    <ion-row>
      <ion-col size="3" class="isi-row-tipe" style="text-align: center;">
        Tipe
      </ion-col>
      <ion-col *ngFor="let item of tmpcabang" class="isi-row-cabang" style="text-align: center;" size-sm="1.1"
        size-xs="1.1">
        {{item.namacabang}}
      </ion-col>
    </ion-row>
  
    <ion-row *ngFor="let tipe of tmpstock; let i = index">
      <ion-col size="3" class="isi-row-tipe-hp">
        {{tipe.nama}}
      </ion-col>
      <ion-col *ngFor="let stock of tmpstock[i].data; let j = index" class="isi-row" style="text-align: center;"
        size-sm="1.1" size-xs="1.1">
        {{tmpstock[i].data[j].jumlah}}
      </ion-col>
    </ion-row>
  
  </ion-grid>
    

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">

      <ion-fab-button color="light" title="Pindahkan Stock" id="open-modal-pindahkanstock_stocklain" (click)="CleanSelection()">
        <ion-icon name="swap-horizontal"></ion-icon>
      </ion-fab-button>
      <ion-fab-button [hidden]="loggeduser != 'admin'" color="light" title="Update Stock" id="open-modal-updatestock_stocklain" (click)="CleanSelection()">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button [hidden]="loggeduser != 'admin'" color="light" title="Hapus Item" id="open-modal-hapusitem" (click)="CleanSelection()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button [hidden]="loggeduser != 'admin'" color="light" title="Hapus Kategori" id="open-modal-hapuskategori" (click)="CleanSelection()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button [hidden]="loggeduser != 'admin'" color="light" title="Tambah Item" id="open-modal-tambahitem" (click)="CleanSelection()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button [hidden]="loggeduser != 'admin'" color="light" title="Tambah Kategori" id="open-modal-tambahkategori" (click)="CleanSelection()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-modal #modalbrand trigger="open-modal-tambahkategori" class="modal_tambahkategori">
    <ng-template>
      <ion-content>
        <form [formGroup]="ionicForm2" (ngSubmit)="SaveKategori()" novalidate>
          <ion-toolbar>
            <ion-title class="ion-text-center">Tambah Kategori</ion-title>
          </ion-toolbar>
          <ion-item>
            <ion-label>Nama Kategori</ion-label>
            <ion-input formControlName="nama" class="ion-text-right" placeholder="Input Nama Kategori"></ion-input>
          </ion-item>
          <ion-note class="error ion-padding" *ngIf="isSubmitted2 && errorControl2.nama.errors?.required">
            Nama kategori dibutuhkan!
          </ion-note>
          <ion-note class="error ion-padding" *ngIf="isSubmitted2 && errorControl2.nama.errors?.minlength">
            Minimal 2 huruf!
          </ion-note>
        </form>
      
      </ion-content>

      <ion-footer class="ion-no-border">
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <ion-button expand="full" color="danger" (click)="Dismissmodal()">
                BATAL
              </ion-button>
            </ion-col>
            <ion-col col-6>
              <ion-button type="submit" expand="full" color="secondary" (click)="SaveKategori()">
                SIMPAN
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-footer>
    </ng-template>
  </ion-modal>

  <ion-modal #modaltipe trigger="open-modal-tambahitem" class="modal_tambahitem">
    <ng-template>
        <ion-content>
            <form [formGroup]="ionicForm" (ngSubmit)="SaveItem()" novalidate>
  
          <ion-toolbar>
            <ion-title class="ion-text-center">Tambah Item</ion-title>
          </ion-toolbar>
          <ion-item>
            <ion-label>Pilih Kategori</ion-label>
            <ion-select formControlName="kategori" interface="popover" placeholder="">
              <ion-select-option *ngFor="let item of tmpKategori" [value]="item.namakategori">{{item.namakategori}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-note  class="error ion-padding" *ngIf="isSubmitted && errorControl.kategori.errors?.required">
            Kategori dibutuhkan!
          </ion-note >
          <ion-item>
            <ion-label>Item</ion-label>
            <ion-input formControlName="nama" class="ion-text-right" placeholder="Input Item"></ion-input>
          </ion-item>
          <ion-note  class="error ion-padding" *ngIf="isSubmitted && errorControl.nama.errors?.required">
            Nama item dibutuhkan!
          </ion-note >
          <ion-note  class="error ion-padding" *ngIf="isSubmitted && errorControl.nama.errors?.minlength">
            Minimal 2 huruf!
          </ion-note >
          <ion-item>
            <ion-label>Harga</ion-label>
            <ion-input formControlName="harga" class="ion-text-right" placeholder="0" type="number"></ion-input>
            <ion-note slot="helper">Jika harga belum ada, dapat diisi 0. Harga dapat diedit di menu Daftar Harga</ion-note>
          </ion-item>
          <ion-note class="error ion-padding" *ngIf="isSubmitted && errorControl.harga.errors?.required">
            Harga dibutuhkan!
          </ion-note>

        </form>
  
        </ion-content>
  
        <ion-footer class="ion-no-border">
          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <ion-button expand="full" color="danger" (click)="Dismissmodal()">
                  BATAL
                </ion-button>
              </ion-col>
              <ion-col col-6>
                <ion-button type="submit" expand="full" (click)="SaveItem()" color="secondary">
                  SIMPAN
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-footer>
  
    </ng-template>
  
  </ion-modal>

  <ion-modal #modaltipe trigger="open-modal-hapuskategori" class="modal_tambahkategori">
    <ng-template>
      <ion-content>
        <form [formGroup]="ionicFormHapusKategori" (ngSubmit)="HapusKategori()" novalidate>
      
          <ion-toolbar>
            <ion-title class="ion-text-center">Hapus Kategori</ion-title>
          </ion-toolbar>
          <ion-item>
            <ion-label>Pilih Kategori</ion-label>
            <ion-select interface="popover" placeholder="" formControlName="namakategori">
              <ion-select-option *ngFor="let item of tmpKategori" [value]="item">{{item.namakategori}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-note class="error ion-padding" *ngIf="isSubmitted && errorControlHapusKategori.namakategori.errors?.required">
            Kategori dibutuhkan!
          </ion-note>
      
        </form>
      </ion-content>

      <ion-footer class="ion-no-border">
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <ion-button expand="full" color="danger" (click)="Dismissmodal()">
                BATAL
              </ion-button>
            </ion-col>
            <ion-col col-6>
              <ion-button type="submit" expand="full" color="secondary" (click)="HapusKategori()">
                HAPUS
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-footer>
    </ng-template>
  </ion-modal>

  <ion-modal trigger="open-modal-hapusitem">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title class="ion-text-center">Hapus Item</ion-title>
        </ion-toolbar>
        <ion-item>
          <ion-label>Pilih Kategori</ion-label>
          <ion-select interface="popover" placeholder="" [(ngModel)]="selectedkategori_HAPUSITEM" (ionChange)="optionsKategori_HAPUSITEM();">
            <ion-select-option *ngFor="let item of tmpKategori" [value]="item.namakategori">{{item.namakategori}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Pilih Item</ion-label>
          <ion-select interface="popover" placeholder=""  [(ngModel)]="selecteditem_HAPUSITEM" (ionChange)="OptionItem_HAPUSITEM();">
            <ion-select-option *ngFor="let item of tmpitemHAPUS" [value]="item">{{item.nama}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="none" *ngIf="pilihkategori_HAPUSITEM === true">
          <ion-label style="color: red;" class="ion-text-center">PILIH KATEGORI!</ion-label>
        </ion-item>
        <ion-item lines="none" *ngIf="pilihitem_HAPUSITEM === true">
          <ion-label style="color: red;" class="ion-text-center">PILIH ITEM!</ion-label>
        </ion-item>
        
      </ion-content>

      <ion-footer class="ion-no-border">
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <ion-button expand="full" color="danger" (click)="Dismissmodal()">
                BATAL
              </ion-button>
            </ion-col>
            <ion-col col-6>
              <ion-button expand="full" color="secondary" (click)="HapusItem()">
                HAPUS
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-footer>
    </ng-template>
  </ion-modal>

  <ion-modal #modaltipe trigger="open-modal-updatestock_stocklain" class="modal_pindahstock">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title class="ion-text-center">Update Stock</ion-title>
        </ion-toolbar>
        <ion-item>
          <ion-label>Pilih Kategori</ion-label>
          <ion-select interface="popover" placeholder="" [(ngModel)]="selectedkategori_UpdateStock" (ionChange)="optionsKategori_UpdateStock();">
            <ion-select-option *ngFor="let item of tmpKategori" [value]="item.namakategori">{{item.namakategori}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Pilih Item</ion-label>
          <ion-select interface="popover" placeholder="" [(ngModel)]="selecteditem_UpdateStock" (ionChange)="optionsItem_UpdateStock();">
            <ion-select-option *ngFor="let item of tmpitemUPDATE" [value]="item">{{item.nama}}</ion-select-option>

          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Pilih Cabang</ion-label>
          <ion-select interface="popover" placeholder="" [(ngModel)]="selectedCabang_UpdateStock" (ionChange)="optionCabang_UpdateStock();">
            <ion-select-option *ngFor="let cabang of tmpcabang" [value]="{CabangID: cabang.CabangID, namacabang: cabang.namacabang}">{{cabang.namacabang}}</ion-select-option>
          </ion-select>
        </ion-item>

        <!-- <ion-toggle></ion-toggle> -->
        <!-- <ion-toggle></ion-toggle> -->
        <ion-item class="ion-text-center" lines="none">
          <div class="d-flex align-items-center">
            <span>Update Stock</span>
            <ion-toggle slot="end" [(ngModel)]="togglevalue_UpdateStock" (ionChange)="toggle_UpdateStock()"></ion-toggle>
            <span class="ml-10">Tambah Stock</span>
          </div>
        </ion-item>

        <ion-item class="ion-text-center" lines="none" style="font-size:15pt ;" *ngIf="selecteditem_UpdateStock && selectedCabang_UpdateStock">
          <ion-label text-wrap>Jumlah stock {{selecteditem_UpdateStock.nama}} di {{selectedCabang_UpdateStock.namacabang}} = {{tmpjumlahstocksaatini}}</ion-label>
        </ion-item>
        
        <ion-item *ngIf="selecteditem_UpdateStock && selectedCabang_UpdateStock && tmpupdate_tambah == 'UPDATE'" lines="none">
          <ion-label primary style="text-align: center; font-size: 15pt;" item-text-wrap>Update stock menjadi</ion-label>
        </ion-item>

        <ion-item *ngIf="selecteditem_UpdateStock && selectedCabang_UpdateStock && tmpupdate_tambah == 'TAMBAH'" lines="none">
          <ion-label primary style="text-align: center; font-size: 15pt;" item-text-wrap>Tambah stock sebanyak</ion-label>
        </ion-item>

        <div class="ion-text-center" *ngIf="selecteditem_UpdateStock && selectedCabang_UpdateStock">
          <ion-list>
            <ion-icon class="icondecrease" name="remove-circle" (click)="decrement_Tambah()"></ion-icon>
            <input [(ngModel)]="tmpjumlahupdate_tambah" text-center style="text-align:center;" type="number" class="inputbg" (ngModelChange)="hitungupdate()">
            <ion-icon class="iconincrease" name="add-circle" (click)="increment_Tambah()"></ion-icon>
          </ion-list>
        </div>

        <ion-item class="ion-text-center" lines="none" style="font-size:15pt ;" *ngIf="selecteditem_UpdateStock && selectedCabang_UpdateStock && tmpupdate_tambah == 'TAMBAH' ">
          <ion-label text-wrap>Total stock {{selecteditem_UpdateStock.nama}} di {{selectedCabang_UpdateStock.namacabang}} menjadi = {{tmpjumlahstocksetelahdijumlah}}</ion-label>
        </ion-item>

        <!-- <ion-item lines="none" *ngIf="stocktidakcukup === true">
          <ion-label style="color: red; font-size: 15pt;" class="ion-text-center" >Stock tidak cukup!</ion-label>
        </ion-item>
        <ion-item lines="none" *ngIf="cabangsama === true">
          <ion-label style="color: red; font-size: 15pt;" class="ion-text-center" >Cabang tidak boleh sama!</ion-label>
        </ion-item>
         -->
      </ion-content>

      <ion-footer class="ion-no-border">
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <ion-button expand="full" color="danger" (click)="Dismissmodal()">
                BATAL
              </ion-button>
            </ion-col>
            <ion-col col-6>
              <ion-button expand="full" color="secondary" (click)="UpdateStock()">
                {{tmpupdate_tambah}}
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-footer>
    </ng-template>
  </ion-modal>

  <ion-modal #modalpindahstock trigger="open-modal-pindahkanstock_stocklain" class="modal_pindahstock">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title class="ion-text-center">Pindahkan Stock</ion-title>
        </ion-toolbar>
        <ion-item>
          <ion-label>Pilih Kategori</ion-label>
          <ion-select interface="popover" placeholder="" [(ngModel)]="selectedKategori_PindahkanStock" (ionChange)="optionsKategori_PindahkanStock();">
            <ion-select-option *ngFor="let item of tmpKategori" [value]="item.namakategori">{{item.namakategori}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Pilih Item</ion-label>
          <ion-select interface="popover" placeholder=""  [(ngModel)]="selectedItem_PindahkanStock" (ionChange)="optionsItem_PindahkanStock();">
            <ion-select-option *ngFor="let item of tmpItem_PindahkanStock" [value]="item">{{item.nama}}</ion-select-option>

          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Dipindahkan dari</ion-label>
          <ion-select interface="popover" placeholder="Pilih Cabang"  [(ngModel)]="selectedCabang_DARI_PindahkanStock" (ionChange)="OptionTCabang_DARI_DAN_KE_PindahkanStock();">
            <ion-select-option *ngFor="let cabang of tmpcabang" [value]="{CabangID: cabang.CabangID, namacabang: cabang.namacabang}">{{cabang.namacabang}}</ion-select-option>

          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Dipindahkan ke</ion-label>
          <ion-select interface="popover" placeholder="Pilih Cabang"  [(ngModel)]="selectedCabang_KE_PindahkanStock" (ionChange)="OptionTCabang_DARI_DAN_KE_PindahkanStock();">
            <ion-select-option *ngFor="let cabang of tmpcabang" [value]="{CabangID: cabang.CabangID, namacabang: cabang.namacabang}">{{cabang.namacabang}}</ion-select-option>

          </ion-select>
        </ion-item>

        <ion-item *ngIf="selectedCabang_DARI_PindahkanStock && selectedItem_PindahkanStock && selectedCabang_KE_PindahkanStock && cabangsama === false" class="ion-text-center" lines="none" style="font-size:15pt ;">
          <ion-label>Stock {{selectedItem_PindahkanStock.type}} di {{selectedCabang_DARI_PindahkanStock.namacabang}} = {{tmpjumlahdari}}</ion-label>
        </ion-item>

        <ion-item *ngIf="selectedCabang_KE_PindahkanStock && selectedItem_PindahkanStock && selectedCabang_DARI_PindahkanStock && cabangsama === false" class="ion-text-center" lines="none" style="font-size:15pt ;">
          <ion-label>Stock {{selectedItem_PindahkanStock.type}} di {{selectedCabang_KE_PindahkanStock.namacabang}} = {{tmpjumlahke}}</ion-label>

        </ion-item>

        <ion-item *ngIf="selectedCabang_DARI_PindahkanStock && selectedItem_PindahkanStock && selectedCabang_KE_PindahkanStock && cabangsama === false" lines="none">
          <ion-label primary style="text-align: center; font-size: 15pt;" item-text-wrap>Jumlah yang ingin dipindahkan:</ion-label>
          <!-- <ion-input [(ngModel)]="jumlahyangdipindahkan" class="jumlahpindah" type="number" placeholder="1"maxlength="10"></ion-input> -->
        </ion-item>

        <div class="ion-text-center" *ngIf="selectedCabang_DARI_PindahkanStock && selectedItem_PindahkanStock && selectedCabang_KE_PindahkanStock && cabangsama === false">
          <ion-list>
            <ion-icon class="icondecrease" name="remove-circle" (click)="decrement()"></ion-icon>
            <input [(ngModel)]="jumlahyangdipindahkan" text-center style="text-align:center;" type="number" class="inputbg">
            <ion-icon class="iconincrease" name="add-circle" (click)="increment()"></ion-icon>
          </ion-list>
        </div>
      

        <ion-item lines="none" *ngIf="stocktidakcukup === true">
          <ion-label style="color: red; font-size: 15pt;" class="ion-text-center" >Stock tidak cukup!</ion-label>
        </ion-item>
        <ion-item lines="none" *ngIf="cabangsama === true">
          <ion-label style="color: red; font-size: 15pt;" class="ion-text-center" >Cabang tidak boleh sama!</ion-label>
        </ion-item>
        
      </ion-content>

      <ion-footer class="ion-no-border">
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <ion-button expand="full" color="danger" (click)="Dismissmodal()">
                BATAL
              </ion-button>
            </ion-col>
            <ion-col col-6>
              <ion-button expand="full" color="secondary" (click)="PindahkanStock()">
                PINDAHKAN
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-footer>
    </ng-template>
  </ion-modal>

</ion-content>
