<ion-app>
  <ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay" menuId="custom">
    <ion-content>
      <div class="menu-header-bg"> </div>
      <div class="header-content">
        <img src="../assets/images/avatar.png" alt="">
        <ion-label>
          <h1 style="color: white; padding-left: 20px;" >RC1</h1> 
          <p style="color: white; padding-left: 20px;">abcddd</p>
        </ion-label>
      </div>
      <ion-list class="menu-items">
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
          <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
            <ion-img style="width: 30px; height: 30px;" slot="start" [src]="p.icon"></ion-img>
            <ion-label style="font-size: 15pt;">{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-list class="menu-items2">
        <ion-menu-toggle auto-hide="false" *ngFor="let p of setting; let i = index">
          <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
            <ion-img style="width: 30px; height: 30px;" slot="start" [src]="p.icon"></ion-img>
            <ion-label style="font-size: 15pt;">{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>


  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
</ion-app>