<ion-header>
  <ion-toolbar color="secondary">
    <ion-title >Daftar Harga</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Pilih Kategori</ion-label>
    <ion-select interface="popover" placeholder=""  [(ngModel)]="selectedKategori" (ionChange)="PilihKategori();">
      <ion-select-option *ngFor="let item of tmpKategori" [value]="item.namakategori" >{{item.namakategori}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ng-container *ngIf="selectedKategori === 'Handphone' ; else templateName">
    <ion-item>
        <ion-label>Pilih Brand</ion-label>
        <ion-select interface="popover" placeholder="" [(ngModel)]="selectedbrand" (ionChange)="getHargaHp()">
          <ion-select-option *ngFor="let item of tmpisikategori" [value]="item.ID">{{item.namabrand}}</ion-select-option>
        </ion-select>
      </ion-item>
      <!-- <ion-item *ngIf="selectedbrand" lines="none"> -->
          <ion-searchbar *ngIf="selectedbrand" [debounce]="100" placeholder="Cari {{selectedKategori}}" show-clear-button="focus" (ionChange)="CariItem($event)"></ion-searchbar>
      <!-- </ion-item> -->
      <ion-item-sliding *ngFor="let item of tmptype">
          <ion-item lines="full">
            <ion-label>{{item.type}}</ion-label>
            <ion-label slot="end">Rp {{item.harga | number}}</ion-label>
          </ion-item>
      
          <ion-item-options>
            <ion-item-option (click)="EditHargaHp(item)" color="secondary">
              <ion-icon slot="start" name="create"></ion-icon>
              Edit
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
  </ng-container>
  

  <ng-template #templateName>
    <ng-container *ngIf="selectedKategori">
      <ion-searchbar [debounce]="100" placeholder="Cari {{selectedKategori}}" show-clear-button="focus" (ionChange)="CariItem($event)"></ion-searchbar>
      <ion-item-sliding *ngFor="let item of results">
        <ion-item lines="full">
          <ion-label>{{item.nama}}</ion-label>
          <ion-label slot="end">Rp {{item.harga | number}}</ion-label>
        </ion-item>
    
        <ion-item-options>
          <ion-item-option (click)="EditHarga(item)" color="secondary">
            <ion-icon slot="start" name="create"></ion-icon>
            Edit
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>
    
  </ng-template>
</ion-content>
