ion-card {
    width: 150px;
    height: 150px;
    margin: 0 auto !important;
    text-align: center;
}

.item-no-padding{
  --padding-start: 0;
  --padding-end: 0;
  
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  
  --min-height: 0;
}

// ion-fab-button {
//     // margin-left: 140px;  
//     overflow: visible;
//     position: relative;
//   }
//   ion-fab-list {
//     ion-label {
//       position: relative;
//       top: 40px;
//       right: 25px;
//       color: white;
//       background-color: rgba(0,0,0,0.7);
//       line-height: 24px;
//       padding: 4px 8px;
//       border-radius: 4px;
//     }
//   }
//   ion-fab {
//     ion-badge {
//       position: relative;
//       top: 10px;
//       left: 140px;
//     }
//   }

  ion-fab-button[title] {
    position: relative;
    
  }
  
  ion-fab-button[title]::after {
    position: absolute;
    content: attr(title);
    z-index: 1;
    right: 57px;
    bottom: 3px;
    background-color: #009cff;
    font-size: 10pt;
    padding: 9px;
    border-radius: 15px;
    color: white;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
  }

  ion-fab-button{
    height:45px;
    width: 45px;
    margin-right: 10px;
    ion-icon{
        height: 20px;
        width: 20px;
    }
  }

  ion-modal {
    --height: 50%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }

  .modal_pindahstock{
    --height: 80%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }

  .modal_tambahtype{
    --height: 60%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }
  
  ion-modal ion-toolbar {
    --background: #009cff;
    --color: white;
  }

  ion-segment {
    --background: #D8D8D8;
  }

  .flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.wrap    {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (max-width: 320px) {

  .flex-container.wrap > div{
      width: 50%;
      max-width: 50%;
      text-overflow: '';
      white-space:nowrap;
      overflow: hidden;
  }

}



.isi-row{
  border-right:2px solid #000;
  border-bottom:2px solid #000;
  // font-size: 1em;

}


.isi-row-tipe{
  border-right:2px solid #000;
  border-bottom:2px solid #000;
  border-top:2px solid #000;
  border-left:2px solid #000;
  background-color: #009cff;
  color: white;

}

.isi-row-cabang{
  border-right:2px solid #000;
  border-bottom:2px solid #000;
  border-top:2px solid #000;
  background-color: #009cff;
  color: white;

}


.isi-row-tipe-hp{
  border-right:2px solid #000;
  border-bottom:2px solid #000;
  border-left:2px solid #000;

}


.isi-row-header{

  border-right:2px solid #000;
  border-bottom:2px solid #000;
  border-left:2px solid #000;
  border-top:2px solid #000;
}

.jumlahpindah
{
  text-align: left;
  width: 10px;
  font-size: 15pt;
}

.contaier-login {
  width: 90%;
  padding: 10px;
  background: #FFFFFF;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}

.inputbg{
  background-color: #FFFFFF;
  width: 70px;
  font-size: 15pt;
  display: inline-block;
   vertical-align: middle;
}

.iconsize{
font-size: 12pt
}

.iconincrease {
  display: inline-block;
  font-size: 35px;
  color: #009cff;
  vertical-align: middle;
 }

 .icondecrease{
  display: inline-block;
  font-size: 35px;
  color: #eb445a;
  vertical-align: middle;
 }

 ion-toggle {
  height: 10px;
  width: 65px;

  padding: 12px;

  --background: #ddd;
  --background-checked: #ddd;

  --handle-background: #eb445a;
  --handle-background-checked: #009cff;

  --handle-width: 25px;
  --handle-height: 27px;
  --handle-max-height: auto;
  --handle-spacing: 6px;

  --handle-border-radius: 4px;
  --handle-box-shadow: none;

  /* Required for iOS handle to overflow the height of the track */
  overflow: visible;
  contain: none;
}

.ml-10{
  margin-left: 10px;
}

.d-flex{
  display: flex;
  flex-flow:row wrap;
  justify-content: center;
  width: 100%;

}

.align-items-center{
  align-items: center;
}

#notification-button {            
  position: relative;
  width: 42px;
  top:1px;
  right: 1px;
  overflow: visible!important;
}


#notifications-badge {
  background-color: red;
  position: absolute;
  top: -3px;
  right: -3px;
  border-radius: 100%;
}


ion-badge {
  position: absolute; 
  font-size: 8pt;
  right: -4px;
  top: 0px; 
}

.modal_tambahbrand{
  --height: 35%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}