<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Stock</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-grid no-padding>
    <ion-row no-padding justify-content-start align-items-start>
      <ion-col *ngFor="let item of data">
        <ion-card text-center>
              <img alt="image" src="../../assets/images/Logo/{{item}}.png" />
          
        </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid> -->

  <ion-item>
    <ion-label>Pilih Brand</ion-label>
    <ion-select interface="popover" placeholder=""  [(ngModel)]="selectedbrand" (ionChange)="optionsBrand();">
      <ion-select-option *ngFor="let item of tmpbrand" [value]="item.BrandID" >{{item.namabrand}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="selectedbrand" >
    <ion-label>Pilih Tipe</ion-label>
    <ion-select interface="popover" placeholder=""  [(ngModel)]="selectedtype" (ionChange)="OptionType();">
      <ion-select-option *ngFor="let item of tmptype">{{item.type}}</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" title="Pindahkan Stock">
        <ion-icon name="swap-horizontal"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" title="Update Stock">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" title="Hapus Tipe" id="open-modal-hapustipe">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" title="Hapus Brand" id="open-modal-hapusbrand">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" title="Tambah Tipe" id="open-modal-tambahtipe">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" title="Tambah Brand" id="open-modal-tambahbrand">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>


  <ion-modal #modalbrand trigger="open-modal-tambahbrand">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title class="ion-text-center">Tambah brand</ion-title>
        </ion-toolbar>
        <ion-item>
          <ion-label>Nama Brand</ion-label>
          <ion-input class="ion-text-right" placeholder="Input Nama Brand" [(ngModel)]="tmpnamabrandbaru"></ion-input>
        </ion-item>
        <ion-item lines="none" *ngIf="masukannamabrand === true">
          <ion-label style="color: red;" class="ion-text-center">MASUKKAN BRAND!</ion-label>
        </ion-item>
      </ion-content>

      <ion-footer class="ion-no-border">
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <ion-button expand="full" color="danger" (click)="Dismissmodal()">
                BATAL
              </ion-button>
            </ion-col>
            <ion-col col-6>
              <ion-button expand="full" color="secondary" (click)="SaveBrand()">
                SIMPAN
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-footer>
    </ng-template>
  </ion-modal>


  <ion-modal #modaltipe trigger="open-modal-tambahtipe">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title class="ion-text-center">Tambah Tipe</ion-title>
        </ion-toolbar>
        <ion-item>
          <ion-label>Pilih Brand</ion-label>
          <ion-select interface="popover" placeholder="" [(ngModel)]="selectedbrand_TYPE" (ionChange)="optionsBrand_TAMBAHTIPE();">
            <ion-select-option *ngFor="let item of tmpbrand" [value]="item.BrandID">{{item.namabrand}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Tipe</ion-label>
          <ion-input class="ion-text-right" placeholder="Input Tipe" [(ngModel)]="tmpTypeBaru" (ionChange)="optionsTipe_TAMBAHTIPE();"></ion-input>
        </ion-item>
        <ion-item lines="none" *ngIf="pilihbrandtambahtipe === true">
          <ion-label style="color: red;" class="ion-text-center">PILIH BRAND!</ion-label>
        </ion-item>
        <ion-item lines="none" *ngIf="masukannamatype === true">
          <ion-label style="color: red;" class="ion-text-center">MASUKKAN TIPE!</ion-label>
        </ion-item>
      </ion-content>

      <ion-footer class="ion-no-border">
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <ion-button expand="full" color="danger" (click)="Dismissmodal()">
                BATAL
              </ion-button>
            </ion-col>
            <ion-col col-6>
              <ion-button expand="full" color="secondary" (click)="SaveType()">
                SIMPAN
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-footer>
    </ng-template>
  </ion-modal>

  <ion-modal #modaltipe trigger="open-modal-hapusbrand">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title class="ion-text-center">Hapus Brand</ion-title>
        </ion-toolbar>
        <ion-item>
          <ion-label>Pilih Brand</ion-label>
          <ion-select interface="popover" placeholder="" [(ngModel)]="selectedbrand_HAPUS">
            <ion-select-option *ngFor="let item of tmpbrand" [value]="item.BrandID">{{item.namabrand}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="none" *ngIf="pilihbrand === true">
          <ion-label style="color: red;" class="ion-text-center">PILIH BRAND!</ion-label>
        </ion-item>
      </ion-content>

      <ion-footer class="ion-no-border">
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <ion-button expand="full" color="danger" (click)="Dismissmodal()">
                BATAL
              </ion-button>
            </ion-col>
            <ion-col col-6>
              <ion-button expand="full" color="secondary" (click)="HapusBrand()">
                HAPUS
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-footer>
    </ng-template>
  </ion-modal>

  <ion-modal #modaltipe trigger="open-modal-hapustipe">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title class="ion-text-center">Hapus Tipe</ion-title>
        </ion-toolbar>
        <ion-item>
          <ion-label>Pilih Brand</ion-label>
          <ion-select interface="popover" placeholder="" [(ngModel)]="selectedbrand_HAPUSTYPE" (ionChange)="optionsBrand_HAPUSTIPE();">
            <ion-select-option *ngFor="let item of tmpbrand" [value]="item.BrandID">{{item.namabrand}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Pilih Tipe</ion-label>
          <ion-select interface="popover" placeholder=""  [(ngModel)]="selectedtype_HAPUS" (ionChange)="OptionType_HAPUSTIPE();">
            <ion-select-option *ngFor="let item of tmptypeHAPUS" [value]="item.TypeID">{{item.type}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="none" *ngIf="pilihbrand_hapustipe === true">
          <ion-label style="color: red;" class="ion-text-center">PILIH BRAND!</ion-label>
        </ion-item>
        <ion-item lines="none" *ngIf="pilihtipe_hapustipe === true">
          <ion-label style="color: red;" class="ion-text-center">PILIH TIPE!</ion-label>
        </ion-item>
        
      </ion-content>

      <ion-footer class="ion-no-border">
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <ion-button expand="full" color="danger" (click)="Dismissmodal()">
                BATAL
              </ion-button>
            </ion-col>
            <ion-col col-6>
              <ion-button expand="full" color="secondary" (click)="HapusType()">
                HAPUS
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-footer>
    </ng-template>
  </ion-modal>

 

 
</ion-content>
