ion-card {
    width: 150px;
    height: 150px;
    margin: 0 auto !important;
    text-align: center;
}

// ion-fab-button {
//     // margin-left: 140px;  
//     overflow: visible;
//     position: relative;
//   }
//   ion-fab-list {
//     ion-label {
//       position: relative;
//       top: 40px;
//       right: 25px;
//       color: white;
//       background-color: rgba(0,0,0,0.7);
//       line-height: 24px;
//       padding: 4px 8px;
//       border-radius: 4px;
//     }
//   }
//   ion-fab {
//     ion-badge {
//       position: relative;
//       top: 10px;
//       left: 140px;
//     }
//   }

ion-fab-button[title] {
    position: relative;
    
  }
  
  ion-fab-button[title]::after {
    position: absolute;
    content: attr(title);
    z-index: 1;
    right: 65px;
    bottom: 7px;
    background-color: #009cff;
    font-size: medium;
    padding: 9px;
    border-radius: 15px;
    color: white;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
  }

  ion-fab-button{
    height:55px;
    width: 55px;
    ion-icon{
        height: 30px;
        width: 30px;
    }
  }

  ion-modal {
    --height: 50%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }
  
  ion-modal ion-toolbar {
    --background: #009cff;
    --color: white;
  }

  ion-segment {
    --background: #D8D8D8;
  }

