ion-item {
    --padding-start: 3px;
    --padding-end: 0;
    --inner-padding-top: 7px;
    --inner-padding-start: 3px;
    --inner-padding-end: 0;
    
    --min-height: 0;
  }


ion-item ion-label{
  margin: 2px;
}

.label-padding
{
    min-width: 10% !important;
    max-width: 14% !important;
    padding-bottom: 2px
}

.label-padding-jumstok
{
  min-width: 40px !important; 
  max-width: 40px !important;
  padding-bottom: 2px
}

ion-modal {
  --height: 70%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-fab-button{
    height:45px;
    width: 45px;
    margin-right: 10px;
    margin-top: 40px;
    // ion-icon{
    //     height: 20px;
    //     width: 20px;
    // }
  }

  .tambahtrans {
    --background: #009cff;
  
    --color: white;
  
    // --border-radius: 0;
    --border-color: black;
    --border-style: solid;
    --border-width: 2px;
    border-left: solid 2px black;  /* Or whatever color your button has. */
    border-right: solid 2px black;
  
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  
    --ripple-color: #009cff;
  
    --padding-top: 10px;
    --padding-bottom: 10px;
  }

ion-segment-button{
  min-height: 40px;
}

.inputbg{
  background-color: #FFFFFF;
  width: 35px;
  font-size: 10pt;
  display: inline-block;
   vertical-align: middle;
}

.iconincrease {
  display: inline-block;
  font-size: 25px;
  color: #009cff;
  vertical-align: middle;
 }

.icondecrease{
display: inline-block;
font-size: 25px;
color: #eb445a;
vertical-align: middle;
}