<ion-header>
  <ion-toolbar color="secondary">
      <!-- <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons> -->
    <ion-button slot="start" fill="clear" color="light" (click)="LaporanPenjualan()">
      <ion-icon name="document-text" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-title style="margin-left: 0pt; padding-left:0pt">Penjualan</ion-title>
    <ion-button slot="end" fill="clear" color="light" (click)="tambahtransaksi()">
        <ion-icon name="add-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-segment [scrollable]="true" value="heart">
    <ion-segment-button value="home" *ngFor="let i of transaksi">
      <ion-icon name="home"></ion-icon>

    </ion-segment-button>
    <ion-segment-button value="heart">
      <ion-icon name="heart"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="pin">
      <ion-icon name="pin"></ion-icon>
    </ion-segment-button> 
  </ion-segment> -->
  <!-- <ion-button expand="full" class="tambahtrans" (click)="tambahtransaksi()">
    + Tambah Transaksi
  </ion-button> -->

  <div padding>
    <ion-segment [(ngModel)]="transaksi" [scrollable]="true">
      <ion-segment-button *ngFor="let item of transaksiaktif; let i = index" value={{item.InvoiceID}} (click)="SelectedTransaksi(item)">
        Transaksi {{item.transaksike}}
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="transaksi" *ngIf="transaksi">
  
    <ion-item *ngSwitchCase=transaksi lines="none">
      <ion-label class="ion-no-padding" style="font-size: 11pt">Invoice ID&nbsp;: {{transaksi}}</ion-label>
    </ion-item>
  
    <ion-item *ngSwitchCase=transaksi lines="none">
      <ion-label class="ion-no-padding" style="font-size: 11pt">Tanggal &nbsp; &nbsp;&nbsp;&nbsp;:
        {{SelectedTransaksiDetail.hari}}, {{SelectedTransaksiDetail.tanggal}}
      </ion-label>
    </ion-item>
    <ion-item *ngSwitchCase=transaksi lines="none">
      <ion-label class="ion-no-padding" style="font-size: 11pt">Waktu &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
        {{SelectedTransaksiDetail.waktu}}
      </ion-label>
    </ion-item>
  
  
    <ion-searchbar [(ngModel)]="input" [debounce]="100" placeholder="Cari barang" show-clear-button="focus" (ionChange)="CariItem($event)">
    </ion-searchbar>
  
  
  
    <!-- <ion-list *ngIf="!input">
      <ion-item *ngFor="let item of Dtrans" lines="full">
        <ion-label slot="start">
          {{item.nama}}
        </ion-label>
        <ion-label slot="end">
          {{item.harga | number}}
        </ion-label>
      </ion-item>
    </ion-list> -->
    <!-- <div class="ion-text-center" *ngIf="selectedtype_UpdateStock && selectedCabang_UpdateStock">
      <ion-list>
        <ion-icon class="icondecrease" name="remove-circle" (click)="decrement_Tambah()"></ion-icon>
        <input [(ngModel)]="tmpjumlahupdate_tambah" text-center style="text-align:center;" type="number" class="inputbg" (ngModelChange)="hitungupdate()">
        <ion-icon class="iconincrease" name="add-circle" (click)="increment_Tambah()"></ion-icon>
      </ion-list>
    </div> -->


    <ion-list *ngIf="!input">
      <ion-item-sliding *ngFor="let item of Dtrans">
        <ion-item lines="full">
          <ion-icon class="icondecrease" name="remove-circle-outline" (click)="decrement(item)" style="padding-bottom:10px">
          </ion-icon>
          <input disabled [(ngModel)]="item.jumlah" text-center style="text-align:center; margin-bottom: 10px" type="number"
            class="inputbg" (ionInput)="UpdateJumlah(item)">
          <ion-icon class="iconincrease" name="add-circle-outline" (click)="increment(item)" style="padding-bottom:10px">
          </ion-icon>
        
          <ion-label style="padding-bottom:10px">{{item.nama}}</ion-label>
          <ion-label slot="end" style="padding-bottom:10px">{{item.hargatotal | number}}</ion-label>
        </ion-item>
  
        <ion-item-options>
          <ion-item-option (click)="HapusItem(item)" color="danger">
            <ion-icon slot="start" name="trash"></ion-icon>
            Hapus
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  
  </div>

  <ion-card *ngIf="input">
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of results" (click)="TambahItem(item)">
          <ion-label class="label-padding-jumstok">{{item.dataku.jumlah}}x</ion-label>
          <ion-label>{{item.nama}}</ion-label>
          <ion-label slot="end">Rp {{item.harga | number}}</ion-label>
        </ion-item>

        <ion-item *ngFor="let item of resultsHP" (click)="TambahItem(item)">
          <ion-label class="label-padding-jumstok">{{item.dataku.jumlah}}x</ion-label>
          <ion-label style="padding-bottom: 2px;">{{item.type}}</ion-label>
          <ion-label slot="end">Rp {{item.harga | number}}</ion-label>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- <ion-item-sliding *ngFor="let item of results">
    <ion-item lines="full">
      <ion-label>{{item.nama}}</ion-label>
      <ion-label slot="end">Rp {{item.harga | number}}</ion-label>
    </ion-item>

    <ion-item-options>
      <ion-item-option (click)="EditHargaHp(item)" color="danger">
        <ion-icon slot="start" name="trash"></ion-icon>
        Hapus
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding> -->
  
 
</ion-content>
<ion-footer class="ion-no-border" style="background-color: white" *ngIf="transaksi">
  <ion-item>
    <ion-label slot="start" style="font-size: 18pt">
      Grand Total
    </ion-label>
    <ion-label slot="end" style="font-size: 18pt">
      Rp {{grandtotal | number}}
    </ion-label>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-button expand="full" color="danger" (click)="BatalkanTransaksi()">
          BATAL
        </ion-button>
      </ion-col>
      <ion-col col-6>
        <ion-button expand="full" color="secondary" id="open-modal-checkout">
          CHECKOUT
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-modal #modalbrand trigger="open-modal-checkout">
    <ng-template>
        <ion-header>
          <ion-toolbar color="secondary">
            <ion-title class="ion-text-center">Detail Transaksi</ion-title>
          </ion-toolbar>
        </ion-header>
      <ion-content>
        
        <ion-list>
          <ion-item *ngFor="let item of Dtrans">
            <ion-label position="fixed" class="label-padding">{{item.jumlah}}x</ion-label>
            <ion-label style="padding-bottom: 2px;">{{item.nama}}</ion-label>
            <ion-label slot="end" style="padding-bottom: 2px">{{item.hargatotal | number}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>

      <ion-footer class="ion-no-border">
        <ion-item>
          <ion-label slot="start" style="font-size: 18pt">
            Grand Total
          </ion-label>
          <ion-label slot="end" style="font-size: 18pt">
            Rp {{grandtotal | number}}
          </ion-label>
        </ion-item>
          
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <ion-button expand="full" color="danger" (click)="Dismissmodal()">
                BATAL
              </ion-button>
            </ion-col>
            <ion-col col-6>
              <ion-button expand="full" color="secondary" (click)="CheckOut()">
                Checkout
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-footer>
    </ng-template>
  </ion-modal>

</ion-footer>
