<ion-header>
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Penjualan</ion-title>
    <ion-button slot="end" fill="clear" color="light" (click)="LaporanPenjualan()">
        <ion-icon name="document-text" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-segment [scrollable]="true" value="heart">
    <ion-segment-button value="home" *ngFor="let i of transaksi">
      <ion-icon name="home"></ion-icon>

    </ion-segment-button>
    <ion-segment-button value="heart">
      <ion-icon name="heart"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="pin">
      <ion-icon name="pin"></ion-icon>
    </ion-segment-button> 
  </ion-segment> -->

  <div padding>
    <ion-segment [(ngModel)]="transaksi" [scrollable]="true">
      <ion-segment-button *ngFor="let item of transaksiaktif; let i = index" value={{item.InvoiceID}} (click)="SelectedTransaksi(item)">
        Transaksi {{item.transaksike}}
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="transaksi" *ngIf="transaksi">
    <ion-item *ngSwitchCase=transaksi>
      <h4>Invoice ID: {{transaksi}}</h4>
    </ion-item>
    <ion-searchbar [debounce]="100" placeholder="Cari barang" show-clear-button="focus" ></ion-searchbar>
  </div>


  <!-- <ion-button (click)="tambahtransaksi()">
    Tambah Transaksi
  </ion-button> -->

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="secondary" (click)="tambahtransaksi()">
      <ion-icon md="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

 
</ion-content>
<ion-footer class="ion-no-border" style="background-color: white">
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-button expand="full" color="danger" (click)="BatalkanTransaksi()">
          BATAL
        </ion-button>
      </ion-col>
      <ion-col col-6>
        <ion-button expand="full" color="secondary" (click)="SaveType()">
          CHECKOUT
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
